:root {
    --font-family-main: 'Red Hat Display', sans-serif;
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-line-m) / var(--font-size-m) var(--font-family-main);





    --nav-bar-height: 80px;
    --sidebar-width: 300px
}